<div class="container">
  <app-header></app-header>
  <main>
    <section>
      <div *ngIf="isBreathingMode; else welcome"></div>
      <ng-template #welcome> <app-logo></app-logo> </ng-template>
    </section>
    <section>
      <h2 class="text--light">how many breaths do you want to take?</h2>
      <app-input [validate]="validateBreathsCount" (setValue)="setBreaths($event)"></app-input>
      <app-button text="start" (onClick)="activateBreathing($event)"></app-button>
      <div *ngIf="notCorrentNumberError"><p>hmm... are you sure it is a correct number?</p></div>
      <div *ngIf="maxBreathsExceeded">
        <h3 class="text--light">don't you think it is too much?</h3>
        <app-button text="no"></app-button>
      </div>
    </section>
  </main>
</div>
